{
    admin off
    frankenphp
}

:{$PORT} {
    root * /app/public
    
    header {
        Access-Control-Allow-Origin "https://uniride-proyecto-final-framewors-yk.vercel.app"
        Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, Accept, X-Requested-With"
        Access-Control-Allow-Credentials "false"
    }

    @options method OPTIONS
    respond @options 204

    php_server
    file_server
}
